kaggle-project/models_with_categoricals/lasso_models/.ipynb_checkpoints/lasso_models-checkpoint.ipynb
kaggle-project/models_with_categoricals/lasso_models/__pycache__/simple_linear_reg.cpython-38.pyc
kaggle-project/models_with_categoricals/simple_linear_reg/__pycache__/simple_linear_reg.cpython-38.pyc
kaggle-project/models_with_categoricals/simple_linear_reg/.ipynb_checkpoints/simple_linear_regression-checkpoint.ipynb
kaggle-project/models_with_categoricals/polynomial_regr/.ipynb_checkpoints/polynomial_regr_drop-checkpoint.ipynb
kaggle-project/data/.ipynb_checkpoints/dataset_setup-checkpoint.ipynb
kaggle-project/models_with_categoricals/polynomial_regr/.ipynb_checkpoints/polynomial_regr-checkpoint.ipynb
kaggle-project/models_with_categoricals/data/.DS_Store
kaggle-project/data/.DS_Store
kaggle-project/.ipynb_checkpoints
kaggle-project/.DS_Store
kaggle-project/models_with_categoricals/polynomial_regr/.ipynb_checkpoints
kaggle-project/models_with_categoricals/polynomial_regr/__pycache__
kaggle-project/models_with_categoricals/.DS_Store
